body {
	background-color: #FFF;
	font-family: 'Quicksand', sans-serif; /* Подключаю шрифты */
	padding: 0; /* Убираю стили */
	margin: 0; /* Убираю стили */
}
h3 {
	margin: 0; /* Убираю стили */
	padding: 0; /* Убираю стили */
}


.hr-big {
	max-width: 80%; /* Делаю длинную палку */
	margin-top: 5vh; /* Отступ сверху */
}

.hr-small {
	max-width: 70%; /* Длина маленькой палки */
	margin-top: 5vh; /* Отступ сверху */
}

/* HEADER */
.logo {
	width: 55px; /* Ширина картинки */
	height: 40px; /* Высота картинки */
}

.cart {
	width: 30px; /* Ширина картинки */
	height: 25px; /* Высота картинки */
}

.navbar {
	max-width: 90vw; /* Контент может занимать только 90% всей ширины сайта */
	margin: 0 auto; /* Выравнивае по центру, делает сверху снизу по 0 отступ, а справа и слева одинаковую */
	margin-top: 7vh; /* Делаю отступ сверху как было в дизайне */
}

.navbar {
	display: flex; /* Нужно для штуки снизу :D */
	justify-content: space-between; /* Раскидывает все, что внутри по разным сторонам по оси X */
	align-items: center; /* Делает по центру относительно оси Х */
}

.nav a {
	text-decoration: none; /* Убирает подчеркивание */
	color: #000; /* Цвет текста */
	font-weight: 500; /* 500 - Medium, это жирность шрифта */
	margin-left: 4vw; /* Двигаю все от себя по 4% на лево */
	font-size: 18px;
}

.header__title {
	margin: 0 auto; /* Выравнивая по центру */
	margin-top: 18vh; /* Опускаю так вниз на 18% от навбара */
	text-align: center; /* Центрирование текста */
	font-weight: 700; /* Жирность шрифта */
	font-size: 60px; /* Размер шрифта */
}

.header__subtitle {
	max-width: 40vw; /* Максимальная длина его это 40% от всего экрана */
	margin: 0 auto; /* Центрирование всего */
	text-align: center; /* Центрирование текста */
	font-weight: 500; /* Жирность шрифта */
	font-size: 20px; /* Размер шрифта */
}

.arrow {
	width: 35px; /* Высота фотки */
	height: 25px; /* Ширина фотки */
	margin-top: 35vh; /* Отдоляю на 35% от тайтла */
	margin-left: 47vw; /* отдоляюсь от стен сайта на 47%, т.е по середине */
}

/* BLOCK */

.block {
	width: 100%; /* растянгивает на всю ширину */
	height: 5vh; /* Высота 5% относительно высоты экрана пользователя */
	margin-top: 5vh; /* Вверхний отступ на 5% относительно высоты экрана пользователя */
}

.title {
	margin-left: 41vw; /* отдоляюсь от стен сайта на 41%, т.е по середине */
}

/*	PRODUCT */
.Outerwear {
	display: flex; /* Нужно для штук снизу */
	flex-wrap: wrap; /* Если не хватает места для другой одежды он кидает его на след строку */
	max-width: 85vw; /* максимальное место которое он может занимать */
	margin: 0 auto; /* Выравнивает блок по центру */
}

.title-wooman {
	font-size: 40px; /* Размер шрифта */ 
	font-weight: 500; /* Жирность шрифта */
	margin-top: 10vh; /* Вверхний отступ на 10% относительно высоты экрана пользователя */
	margin-left: 10vw; /* Боковой отступ на 10% относительно ширины экрана пользователя */
}

.product {
	margin: 0 1vw; /* это, что-бы товары не слеплялись вместе */
	margin-top: 3vh; /* Так же, что бы не слеплялись но уже сверху */
}

.title__product {
	margin-top: 5px; /* Отступ сверху */
}
.Footwear {
	display: flex; /* Нужно для штуки снизу */
	flex-wrap: wrap; /* Кидает все на след строку если нету места */
	max-width: 85vw; /* Максимальное пространство которое может занять */
	margin: 0 auto; /* Выранвивает по центру */
}

.product-footware {
	margin: 0 1.5vw; /* Отступы по бокам */
	margin-top: 3vh; /* Отступ сверху */
}

/* FOOTER */
footer {
	background-color: #F9F9F9; /* Цвет футера */
}

.footer {
	display: flex; /* Нужно для штуки снизу */
	justify-content: space-between; /* Раскидывает все по разным сторонам */
	margin: 0 auto; /* Делает блок по центру */
	max-width: 84%; /* Максимальная область его заполнения */
	font-weight: 500; /* Жирность шрифта */
	margin-top: 100px; /* Отступ сверху */
}

.links-ft {
	font-size: 15px; /* Размер шрифта */
	color: #000; /* Цвет шрифта */
	display: flex; /* Нужно для штуки снизу */
	justify-content: space-between; /* Раскидывает все по разным сторонам на одинковое растояние */
	margin-top: 3vh; /* отступ сверху */
}

a {
	text-decoration: none; /* убираю обводку от ссылок */
	color: #000; /* Цвет шрифта */
}

.link-ft {
	line-height: 30px; /* Устанавливает интерлиньяж (межстрочный интервал) */
}

.link-items {
	max-width: 80px; /* Максимальная область работы */
	padding-top: 20px; /* Делает больше на 20пикселей блок */
}

.title-ft, .link-items {
	margin: 0 25px; /* отступы по 25пикселей по бокам */
}

.title-ft {
	font-weight: 300; /* Жирность шрифта */
}

.adress-ft {
	display: flex; /* Нужно для штуки снизу */
	align-items: center; /* выравнивает flex-элементы текущей flex-линии */
}

.img-ft {
	width: 30px; /* Ширина */
	height: 30px; /* Высота */
}

.title-ft {
	font-size: 16px; /* Размер шрифта */
	color: #000; /* Цвет шрифта */
	font-weight: 400; /* жирность */
	margin-left: 8px; /* Отступ слева */
}

.about-ft {
	margin-right: 50px; /* оступ справа */
	margin-top: 3vh; /* отступ сверху */
}

.number-ft {
	display: flex; /* Нужно для штуки снизу */
	align-items: center; /* выравнивает flex-элементы текущей flex-линии */
	margin-top: 20px; /* Отступ сверху */
}

.social-img {
	margin-top: 30px; /* Отступ сверху */
}








/* KNOPKI */

.choice {
  display: flex; /* Нужно для штук снизу */
}
.choice input[type=radio] {
   position: absolute; /* Нужно для штуки снизу */
   left: -99999px; /* Трудно обьеснить */
}
.choice span {
  display: block; /* Нужно для штук снизу */
  padding: 0.2em 1em; /* Внутриние отспупы */
  border: 1px solid #e1e0de; /* Обводка */
  margin-right: 15px; /* отступ справа */
  cursor: pointer; /* При наводке курсор становиться поинтер */
  border-radius: 5px; /*  Закругление */
  transition: 0.1s; /* Анимация плавности */
  margin-top: 80px; /* Отступ сверху */
}
.choice input[type=radio]:checked + span {
  border: 2px solid red; /* Обводка */
  border-color: red; /* Цвет */
  background: white; /* белый цвет */
}

.btn {
  border-radius: 10px; /* округление */
  border: none; /* Убирает стили кнопки обычной */
  outline: none; /* Убирает стили кнопки обычной */
  color: #fff; /* Цвет */
  font-size: 30px; /* Размер */
  background-color: #838383; /* Цвет фона */
  transition: 0.1s; /* Анимация */

  padding: 10px 50px;  /* Внутриние оступы */

  margin-top: 20px; /* Отступ сверху */
}

.btn:hover {
  background-color: #5379FF; /* При наводке меняет цвет */
}

/* Дескриптион */
.xar-info {
  width: 90%; /* Макс размер */
  margin: 0 auto; /* Выравнивает по центру */
}

.img__xar-info {
	width: 40%; /* Размер фотки */
	height: 40%; /* Размер фотки */
  	margin: 130px 0px 0px 0px; /* отступ сверху */
}

.xar-info {
  display: flex; /* Нужно для штуки ниже */
  justify-content: space-between; /* Раскидывает по разным сторонам */
}

.info {
  margin: 100px 10px 0px 0px; /* Отступы сверху и справа */
}

.article {
  color: #929292; /* Цвет текста */
}

.description h4 {
  max-width: 30vw; /* Максимальная область текста */
}

/* Корзина */

.korzina {
	margin: 0 auto; /* Выравнивает по центру */
	margin-top: 10vh; /* Отступ сверху */
	width: 90vw; /* ширина */
	height: 50vh; /* Высота */
	background-color: #F4F4F4; /* цвет фона */
	border-radius: 5vh; /* Округление */
	display: flex; /* Нужно для штуки снизу */
	flex-direction: column; /* Делает все в колонку */
}

.korzina__wrapper {
	margin-top: 3vh; /* Отступ сверху */
	margin-left: 4vw; /* Отступ слево */
	width: 82vw; /* Ширина */
	height: 9vh; /* Высота */
	background-color: #EAEAEA; /* Цвет фона */
	border-radius: 5vh; /* Округление */

	display: flex; /* Нужно для штуки снизу */
	justify-content: space-between; /* Раскидывает все по сторонам */
}

.title-kor {
	margin-left: 2vw; /* Отступ слева */
	margin-top: 1vh; /* Оступ сверху */
	font-size: 22px; /* Размер текста */
	font-weight: 500; /* Жирность шрифта */
}

.price-kor {
	margin-left: 2vw; /* Отступ слева */
	font-size: 14px; /* Размер шрифта */
}

.delete {
	width: 22px; /* Ширина */
	margin-right: 1.5vw; /* Отступ справа */
	cursor: pointer; /* При наводке курсор меняется на выбор */
}

.pay {
	border: none; /* Убирание стилей у кнопки */
	outline: none; /* Убирание стилей у кнопки */

	background-color: #10DE7B; /* Цвет фона */
	width: 8vw; /* Ширина */
	height: 5vh; /* Высота */
	border-radius: 25px; /* Округление */
	font-weight: 600; /* Жирность */
	font-size: 15px; /* размер текста */

	margin-left: 65vw; /* Отступ слева */
	margin-top: 2vh; /* Отступ сверху */

	cursor: pointer; /* При наводке курсор меняется на выбор */
}

.total {
	display: flex; /* Нужно для штуки снизу */
	align-items: center; /* выравнивает flex-элементы текущей flex-линии */
}

.some {
	display: flex; /* Нужно для штуки снизу */
	justify-content: space-between; /* Раскидывает по сторонам */
	max-width: 85vw; /* макс область работы */
	margin: 0 auto; /* Выравнивает по центру */
	margin-top: 3vh; /* Отступ сверху */
}